# SQL

## Shema

Poveži se na `jobs.db` databazo.

Prikaži shemo `recent_grads` tabele.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sqlite3
CREATE TABLE IF NOT EXISTS "recent_grads" (
"index" INTEGER,
  "Rank" INTEGER,
  "Major_code" INTEGER,
  "Major" TEXT,
  "Major_category" TEXT,
  "Total" INTEGER,
  "Sample_size" INTEGER,
  "Men" INTEGER,
  "Women" INTEGER,
  "ShareWomen" REAL,
  "Employed" INTEGER,
  "Full_time" INTEGER,
  "Part_time" INTEGER,
  "Full_time_year_round" INTEGER,
  "Unemployed" INTEGER,
  "Unemployment_rate" REAL,
  "Median" INTEGER,
  "P25th" INTEGER,
  "P75th" INTEGER,
  "College_jobs" INTEGER,
  "Non_college_jobs" INTEGER,
  "Low_wage_jobs" INTEGER
);
CREATE INDEX "ix_recent_grads_index"ON "recent_grads" ("index");
```

Najprej se premankeš v mapo data

#### 1. Povezava na bazo:

Ukaz: sqlite3 jobs.db

Izpisane vrstice:

SQLite version 3.30.1 2019-10-10 20:19:45
Enter ".help" for usage hints.


#### 2. shema tabele recent_grads

Ukaz: .schema recent_grads

Izpisane vrstice:

CREATE TABLE IF NOT EXISTS "recent_grads" (
"index" INTEGER,
  "Rank" INTEGER,
  "Major_code" INTEGER,
  "Major" TEXT,
  "Major_category" TEXT,
  "Total" INTEGER,
  "Sample_size" INTEGER,
  "Men" INTEGER,
  "Women" INTEGER,
  "ShareWomen" REAL,
  "Employed" INTEGER,
  "Full_time" INTEGER,
  "Part_time" INTEGER,
  "Full_time_year_round" INTEGER,
  "Unemployed" INTEGER,
  "Unemployment_rate" REAL,
  "Median" INTEGER,
  "P25th" INTEGER,
  "P75th" INTEGER,
  "College_jobs" INTEGER,
  "Non_college_jobs" INTEGER,
  "Low_wage_jobs" INTEGER
);
CREATE INDEX "ix_recent_grads_index"ON "recent_grads" ("index");

## SELECT and LIMIT

Prikaži prvih 12 vrstic stolpcev `Rank` in `Major`, v tem vrstnem redu, tabele `recent_grads`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
1|PETROLEUM ENGINEERING
2|MINING AND MINERAL ENGINEERING
3|METALLURGICAL ENGINEERING
4|NAVAL ARCHITECTURE AND MARINE ENGINEERING
5|CHEMICAL ENGINEERING
6|NUCLEAR ENGINEERING
7|ACTUARIAL SCIENCE
8|ASTRONOMY AND ASTROPHYSICS
9|MECHANICAL ENGINEERING
10|ELECTRICAL ENGINEERING
11|COMPUTER ENGINEERING
12|AEROSPACE ENGINEERING
```

#### Ukaz: 
SELECT Rank, Major FROM recent_grads LIMIT 12;

#### Rezultat:
```sql
1|PETROLEUM ENGINEERING
2|MINING AND MINERAL ENGINEERING
3|METALLURGICAL ENGINEERING
4|NAVAL ARCHITECTURE AND MARINE ENGINEERING
5|CHEMICAL ENGINEERING
6|NUCLEAR ENGINEERING
7|ACTUARIAL SCIENCE
8|ASTRONOMY AND ASTROPHYSICS
9|MECHANICAL ENGINEERING
10|ELECTRICAL ENGINEERING
11|COMPUTER ENGINEERING
12|AEROSPACE ENGINEERING
```

## WHERE

Prikaži stolpca `Major`, `Unemployment_rate` in `Total`, kjer je `Unemployment_rate` večji od 10% in stolpec `Total` (celotno število diplomantov) manjši od 1000.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
MINING AND MINERAL ENGINEERING|0.117241379|756
SCHOOL STUDENT COUNSELING|0.107579462|818
```

#### Ukaz:
SELECT Major, Unemployment_rate, Total FROM recent_grads WHERE Unemployment_rate > 0.1 AND Total < 1000;

#### Rezultat:
```sql
MINING AND MINERAL ENGINEERING|0.117241379|756
SCHOOL STUDENT COUNSELING|0.107579462|818
```

## ORDER BY

Prikažite prvih 5 stolpecv `Major`, `Mediana`. Vrstni red naj bo naraščajoč glede na stolpec `Mediana`.

Prilepite ukaz, ki ste ga izvedli in izpisane vrstice.

```sql
LIBRARY SCIENCE|22000
COUNSELING PSYCHOLOGY|23400
EDUCATIONAL PSYCHOLOGY|25000
CLINICAL PSYCHOLOGY|25000
ZOOLOGY|26000
```

#### Ukaz:
SELECT Major, Median FROM recent_grads ORDER BY Median LIMIT 5;

#### Rezultat:
```sql
LIBRARY SCIENCE|22000
COUNSELING PSYCHOLOGY|23400
EDUCATIONAL PSYCHOLOGY|25000
CLINICAL PSYCHOLOGY|25000
ZOOLOGY|26000
```

# Python SQLite3

In [3]:
import sqlite3

Povežite se na `job.db` databazo.

Prikažite vrstice od 10 do 15, za stolpce `Rank`, `Major`, `Total`.

In [13]:
# Rešitev
conn = sqlite3.connect('data/jobs.db')
cursor = conn.cursor()

query = 'SELECT Rank, Major, Total  FROM recent_grads;'
cursor.execute(query)
results = cursor.fetchall()

In [14]:
results[9:15]

[(10, 'ELECTRICAL ENGINEERING', 81527),
 (11, 'COMPUTER ENGINEERING', 41542),
 (12, 'AEROSPACE ENGINEERING', 15058),
 (13, 'BIOMEDICAL ENGINEERING', 14955),
 (14, 'MATERIALS SCIENCE', 4279),
 (15, 'ENGINEERING MECHANICS PHYSICS AND SCIENCE', 4321)]

In [15]:
#zapremo povezavo
conn.close()

# SQLAlchemy and Pandas

In [16]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

import pandas as pd
import numpy as np

Povežite se na `logs.db` databazo.

Preberite celotno `weblog` tabelo v DataFrame in prikažite prvih 5 vrstic.
(stolpec `id` naj bo index DataFrama)

In [18]:
# Rešitev
#Povežemo se na bazo logs.db
engine = create_engine('sqlite:///data/logs.db')

#v DataFrame preberemo celotno tabelo weblog in nastavimo stolpec id za index
weblogs = pd.read_sql_table('weblog', engine, index_col = 'id')

#prikaz prvih 5 vrstic
weblogs.head(5)

            ip           timestamp  status method
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET
2   10.128.2.1 2017-11-29 06:59:02     302   POST
3   10.128.2.1 2017-11-29 06:59:03     200    GET
4   10.131.2.1 2017-11-29 06:59:04     200    GET
5   10.130.2.1 2017-11-29 06:59:06     200    GET

Najdite najpogostejši `ip`.
DataFramu dodajte stolpec `Ban`. Če vrstica vsebuje najpogostejši ip naj bo v `Ban` stolpcu vrednost `True`, drugače naj bo vrenost `False`.

In [19]:
# Rešitev

#Najpogosteši IP
weblogs['ip'].value_counts().idxmax()

'10.131.2.1'

In [20]:
#Dodamo stolpec Ban
weblogs['Ban'] = weblogs['ip'] == weblogs['ip'].value_counts().idxmax()

In [21]:
weblogs.head(4)

            ip           timestamp  status method    Ban
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET  False
2   10.128.2.1 2017-11-29 06:59:02     302   POST  False
3   10.128.2.1 2017-11-29 06:59:03     200    GET  False
4   10.131.2.1 2017-11-29 06:59:04     200    GET   True

DataFrame zapišite v `logs.db` databazo, v `ban_log` tabelo. Če tabela še ne obstaja jo ustvarite.

Glede databaznih stolpcev in njihovih data-tipov si pomagajte s spodnjim `dtype_dict`.

In [22]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'Ban': Boolean()
}

In [23]:
# Rešitev
#Povežemo se na bazo
engine = create_engine('sqlite:///data/logs.db')

#Sharnimo v tabelo ban_log; če obstaja, jo prepišemo
weblogs.to_sql('ban_log', con = engine, if_exists = 'replace', dtype=dtype_dict)

In [24]:
#preverimo, če je bil uvoz v bazo uspešen, tako, da preberemo nazaj iz baze
temp = pd.read_sql_table('ban_log', engine, index_col = 'id')

In [26]:
temp.head(5)

            ip           timestamp  status method    Ban
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET  False
2   10.128.2.1 2017-11-29 06:59:02     302   POST  False
3   10.128.2.1 2017-11-29 06:59:03     200    GET  False
4   10.131.2.1 2017-11-29 06:59:04     200    GET   True
5   10.130.2.1 2017-11-29 06:59:06     200    GET  False